body{
    font-family:times,arial;
   }
header{
     background-colr:blue; 
     color:white;
     padding:10px;
     margin:0;
        overflow:hidden;
}
header img{
     float:left;
     width:100px;
     height:100px;
      margin-right:10px;
}
header h1{
      padding:0;
      margin:0;
      font-size:2.2em;
}
header h2{
     padding:0;
     margin:0;
      font-size:1.2em;

}
.nav ul{
      list-style:none;
      background-color:#EBEBEB;
      padding:0;
      overflow:hidden;

}
 .nav li{
      float:left;
}
.nav li a{
      text-decoration:none;
      padding:10px 25px;
      display:black;
      color:white;
}
.nav li a:hover{
      background-color:#004EFF;
      color:white;
}
.content h1{
       margin 5px 0 0 0;
       font-size:1.6em;
       color:#540055;
}
.content img{
       float:right;
       margin:10px;
       box-shadow:2px 3px 5px 1px;
}
.footer {
        padding:0 10px;
        color:#95027B;
}











